@charset "UTF-8";
.strong {
  color: #00487C;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Unbounded", cursive;
}

.nav-left {
  width: 200px;
  height: 100vh;
  position: fixed;
  background-color: #FFC007;
  z-index: 5;
}
.nav-left .face {
  width: 200px;
  height: 25%;
  background-image: url(../img/taregt/S__34160684.jpg);
  background-size: 120%;
  background-position: top;
}
.nav-left .select-nav {
  margin-top: 40%;
}
.nav-left .select-nav div.drop-down-menu :hover {
  background-color: #ffffff;
  /* 滑鼠滑入按鈕變色*/
}
.nav-left .select-nav div.drop-down-menu div {
  float: left;
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  white-space: nowrap;
}
.nav-left .select-nav div.drop-down-menu a {
  font-size: 30px;
  color: #333;
  padding: 0px 30px;
  /* 上下 左右 */
  text-decoration: none;
  /* 取消Ａ標籤的底線 */
  line-height: 40px;
  /* 調整整體高度，因為Ａ標籤是屬於行內元素 */
  display: flex;
  justify-content: center;
}

.nav-right {
  position: fixed;
  right: 1%;
  top: 40%;
  width: 40px;
  margin-top: -120px;
  z-index: 4;
  background-color: #FFC007;
  border-radius: 20px;
}
.nav-right ul {
  /* 取消ul設的內縮及樣式 */
  margin: 0px;
  padding: 0px;
}
.nav-right ul.drop-down-menu {
  list-style: none;
  /*定義出以下的資料，這是下拉式表單的核心*/
  /* 這是匡線的部分 */
  /*這其實就是同時能夠達成行列元素以及區塊元素的效果 */
  /* 這個選項可以讓資料 */
  font-size: 13px;
  /* 控制位置固定在中間點！ */
}
.nav-right ul.drop-down-menu li {
  position: relative;
  white-space: nowrap;
}
.nav-right ul.drop-down-menu > li {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.nav-right ul.drop-down-menu a {
  font-size: 24px;
  color: #333;
  padding: 0px 30px;
  /* 上下 左右 */
  text-decoration: none;
  /* 取消Ａ標籤的底線 */
  line-height: 40px;
  /* 調整整體高度，因為Ａ標籤是屬於行內元素 */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.nav-right ul.drop-down-menu a:hover {
  /* 滑鼠滑入按鈕變色*/
  color: #ffffff;
}

body {
  height: 400vh;
}

.content-page1 {
  width: 100%;
  height: 100vh;
  display: flex;
}
.content-page1 .content-left {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 13% 5%;
  background-color: #ffffff;
}
.content-page1 .content-left .small-title {
  font-size: 36px;
  margin-bottom: 20px;
}
.content-page1 .content-left .title {
  font-size: 72px;
  margin-bottom: 20px;
}
.content-page1 .content-left .plug {
  background-color: #FFC007;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 20px;
  font-size: 24px;
  border-radius: 2%;
}
.content-page1 .content-left .introduce {
  margin-bottom: 20px;
  font-size: 20px;
}
.content-page1 .content-left .start-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
  padding: 5px;
  background-color: #FFC007;
  font-size: 36px;
  cursor: pointer;
}
.content-page1 .content-right-check {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-page1 .content-right-check :hover.face {
  transform: scale(1.15, 1.15);
}
.content-page1 .content-right-check .face {
  width: 75%;
  height: 70%;
  background-image: url("../img/taregt/S__34160684.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  opacity: 1;
  z-index: 2;
  transform: scale(1.1);
  transition: all 1s ease-in-out;
}
.content-page1 .content-right {
  position: relative;
  width: 50%;
  height: 100vh;
  background: linear-gradient(181.1154931321deg, rgb(149, 168, 181) 1.644486692%, rgb(61, 72, 78) 92.7724968314%);
  opacity: 0.4;
}

.content-page2-check {
  background-color: greenyellow;
  width: calc(100% - 200px);
  height: 100vh;
  position: absolute;
  left: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
  z-index: 5;
}
.content-page2-check .content-page2-check-text {
  height: 50vh;
}
.content-page2-check .content-page2-check-text .title {
  font-size: 72px;
  margin-bottom: 20px;
  color: #000000;
}
.content-page2-check .content-page2-check-text .small-title {
  font-size: 36px;
  margin-bottom: 20px;
}
.content-page2-check .content-page2-check-text .introduce {
  font-size: 20px;
  margin-bottom: 50px;
}
.content-page2-check .insert {
  background-color: #000000;
  width: 100%;
  height: 50vh;
  display: flex;
}
.content-page2-check .insert div .turn {
  display: flex;
}
.content-page2-check .insert div .turn hr {
  border: dashed 0.5px;
  width: 85%;
  border-color: #9d5f00;
  margin: auto;
  z-index: 6;
}
.content-page2-check .insert .insert-left {
  width: 30%;
  height: 50vh;
  background-color: rgb(0, 0, 0);
}
.content-page2-check .insert .insert-left .left-top {
  width: 100%;
  height: 25vh;
  background-color: rgb(0, 240, 12);
}
.content-page2-check .insert .insert-left .left-bottom {
  width: 100%;
  height: 25vh;
  background-color: pink;
}
.content-page2-check .insert .insert-left hr {
  border: dashed 0.5px;
  width: 85%;
  border-color: #9d5f00;
  margin: auto;
}
.content-page2-check .insert .insert-right {
  width: 30%;
  height: 50vh;
}
.content-page2-check .insert .insert-right .right-top {
  width: 100%;
  height: 25vh;
  background-color: green;
}
.content-page2-check .insert .insert-right .right-bottom {
  width: 100%;
  height: 25vh;
  background-color: purple;
}
.content-page2-check .insert .insert-right hr {
  border: dashed 0.5px;
  width: 85%;
  border-color: #9d5f00;
  margin: auto;
}
.content-page2-check .insert .insert-text {
  width: 40%;
  height: 50vh;
  margin-left: 30px;
  background-color: red;
}

.content-page2 {
  width: calc(100% - 200px);
  height: 100vh;
  position: relative;
  left: 200px;
  background: linear-gradient(181.1154931321deg, rgb(149, 168, 181) 1.644486692%, rgb(61, 72, 78) 92.7724968314%);
  opacity: 0.4;
}/*# sourceMappingURL=resume.css.map */