@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 2000px;
}

nav {
  max-width: 1600px;
  width: 100%;
  height: 56px;
  margin: auto;
  padding-left: 65px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1080px) {
  nav {
    padding-left: 24px;
    padding-right: 14px;
  }
}
nav .mobile {
  display: none;
}
nav .links {
  width: 535px;
  height: 100%;
  margin-right: 73px;
  padding-left: 10px;
  padding-right: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}
nav .links .logo {
  width: 110px;
  height: 25px;
  margin-right: 4px;
  background-image: url(../img/RE1Mu3b.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 1080px) {
  nav .links .logo {
    margin-right: 8px;
  }
}
nav .links .more {
  display: flex;
  align-items: center;
  text-align: center;
  display: none;
}
nav .links .more .icon {
  background-image: url(../img/newImage/chevron-down.svg);
  width: 14px;
  height: 25px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
nav .functions {
  height: 100%;
  padding-right: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}
nav .functions .all {
  width: 120px;
  height: 48px;
  display: flex;
  align-items: center;
}
nav .functions .all .icon {
  background-image: url(../img/newImage/chevron-down.svg);
  width: 14px;
  height: 25px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
nav .functions .function {
  height: 48px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
@media (max-width: 1400px) {
  nav .functions .function {
    margin-left: 0px;
  }
  nav .functions .function span {
    display: none;
  }
  nav .functions .function .icon.search {
    margin-right: 10px;
  }
  nav .functions .function .icon.shopping {
    margin-right: 10px;
  }
  nav .functions .function .icon.login {
    margin-right: 10px;
  }
}
nav .functions .function .icon {
  width: 17px;
  height: 17px;
  margin-left: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
nav .functions .function .search {
  height: 30px;
  margin-right: 50px;
  background-image: url(../img/newImage/search.png);
}
nav .functions .function .shopping {
  margin-left: 10px;
  background-image: url(../img/newImage/cart.svg);
}
nav .functions .function .login {
  width: 33px;
  height: 33px;
  margin-left: 5px;
  background-image: url(../img/login.svg);
}
nav .functions .car {
  margin-left: 2px;
}
nav .links {
  width: 535px;
  height: 100%;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}
@media (max-width: 880px) {
  nav .links .more {
    display: block;
    display: flex;
    align-items: center;
    text-align: center;
  }
  nav .links .support {
    display: none;
  }
  nav .links .xbox {
    display: none;
  }
}
nav .mobile {
  display: none;
}

@media (max-width: 860px) {
  nav {
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  nav .logo {
    position: absolute;
    left: calc(50% - 55px);
  }
  nav .functions .all {
    display: none;
  }
  nav .functions .search {
    position: fixed;
    left: 50px;
  }
  nav .functions .car {
    margin-right: 10px;
  }
  nav .mobile {
    display: block;
    position: absolute;
    z-index: 2;
    width: calc(100% - 10px);
    overflow: hidden;
    /* 漢堡按鈕 */
    /* menu*/
  }
  nav .mobile ul {
    list-style: none;
  }
  nav .mobile input {
    display: none;
  }
  nav .mobile label {
    position: relative;
    left: 16px;
    top: -5px;
    float: left;
    line-height: 50px;
    cursor: pointer;
  }
  nav .mobile label img {
    vertical-align: middle;
  }
  nav .mobile label::before {
    content: url(../img/newImage/list1.svg);
    width: 20px;
    height: 40px;
    display: block;
  }
  nav .mobile input:checked + label::before {
    display: none;
  }
  nav .mobile label::after {
    content: url(../img/newImage/x2.svg);
    width: 20px;
    height: 40px;
    margin-bottom: 7px;
    -o-object-fit: contain;
       object-fit: contain;
    display: none;
  }
  nav .mobile input:checked + label::after {
    display: block;
  }
  nav .mobile .menu {
    display: none;
    clear: both;
    background: #f2f2f2;
  }
  nav .mobile .menu .first {
    border-top: solid 1px #cccccc;
  }
  nav .mobile .menu .list {
    border-bottom: solid 1px #000000;
  }
  nav .mobile .menu li {
    width: 100%;
    padding-top: 14px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    border-bottom: solid 1px #cccccc;
  }
  nav .mobile .menu li a {
    display: block;
    line-height: 25px;
    font-weight: 400px;
    font-size: 15px;
    color: black;
    text-align: left;
    -webkit-text-decoration: solid;
            text-decoration: solid;
    text-decoration: none;
    outline: black;
  }
  nav .mobile input:checked ~ .menu {
    display: block;
    width: 100%;
  }
  nav .links .link.mirsoft {
    display: none;
  }
  nav .links .link.eams {
    display: none;
  }
  nav .links .link.windows {
    display: none;
  }
  nav .links .link.surface {
    display: none;
  }
  nav .links .link.xbox {
    display: none;
  }
  nav .links .link.more {
    display: none;
  }
  .links.logo {
    width: 110px;
    height: 25px;
    display: block;
    background-image: url(../img/RE1Mu3b.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
section {
  margin-top: 0px;
  display: flex;
  justify-content: center;
}
section .bander {
  position: relative;
  display: flex;
  justify-content: center;
}
section .bander .content {
  width: 35%;
  padding: 48PX;
  position: absolute;
  left: 10%;
  top: 22.58%;
}
@media (max-width: 1082px) {
  section .bander .content {
    width: 98%;
    top: 93%;
    left: 1%;
    background-color: #fff;
    box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.11), 0 0.1875rem 0.4375rem rgba(0, 0, 0, 0.13);
  }
}
@media (max-width: 858px) {
  section .bander .content {
    width: 100%;
    top: 100%;
    left: 0%;
    padding-top: 24px;
    padding-bottom: 16px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
section .bander .content .content-include {
  justify-content: center;
  font-weight: 600;
}
@media (max-width: 858px) {
  section .bander .content .content-include {
    line-height: 1.2;
  }
}
section .bander .content .content-include .title {
  padding-TOP: 6PX;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 20px;
  background-color: white;
  color: #950c17;
  display: inline;
  font-size: 16px;
}
section .bander .content .content-include .big-title {
  font-size: 2.3125rem;
  margin-top: 10px;
  margin-bottom: 1.25rem;
  font-weight: 600;
}
@media (max-width: 1400px) {
  section .bander .content .content-include .big-title {
    font-size: 29px;
  }
}
@media (max-width: 842px) {
  section .bander .content .content-include .big-title {
    font-size: 24px;
  }
}
section .bander .content .content-include .text {
  margin-bottom: 40px;
}
section .bander .content .content-include .buy-btn {
  display: inline-block;
  background-color: #000000;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
}
section .bander picture img {
  width: 100%;
  height: auto;
}

section.space {
  margin-top: 10px;
}
section.space .chose {
  margin-top: 0px;
  width: 176px;
  height: 44px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1081px) {
  section.space .chose {
    margin-top: 257px;
  }
}
@media (max-width: 860px) {
  section.space .chose {
    margin-top: 237px;
  }
}
section.space .chose .space-left:hover > .left {
  transition: 1s ease;
  transform: translateX(-10px);
}
section.space .chose .space-right:hover > .right {
  transition: 1s ease;
  transform: translateX(10px);
}
section.space .chose .left {
  width: 24px;
  height: 36px;
  background-image: url(../img/newImage/goleft.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
section.space .chose .right {
  width: 24px;
  height: 36px;
  background-image: url(../img/newImage/goright.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
section.space .chose .black {
  width: 12px;
  height: 24px;
  background-image: url(../img/newImage/circle-solid.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
section.space .chose .white {
  width: 12px;
  height: 24px;
  background-image: url(../img/newImage/circle-regular.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

section .jump {
  width: 100%;
  height: 200px;
  margin: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
section .jump .space {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .jump .space .windows {
  width: 100px;
  height: 40px;
  margin-bottom: 8px;
  background-image: url(../img/newImage/windows40x40.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
section .jump .space .pad {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
  background-image: url(../img/newImage/pad.webp);
}
section .jump .space a {
  text-decoration: underline;
  cursor: pointer;
}
section .jump .left {
  margin-right: 35px;
}
section .jump .right {
  margin-left: 35px;
}

.all-cards {
  width: 100%;
  background-color: #950c17;
  display: flex;
  justify-content: center;
}
.all-cards .four-card {
  max-width: 1600px;
  width: 90%;
  padding: 0px 5%;
  box-sizing: content-box;
  background-color: aqua;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.all-cards .four-card .card {
  width: 25%;
  padding: 0px 12px;
}
@media (max-width: 1080px) {
  .all-cards .four-card .card {
    width: 50%;
  }
}
@media (max-width: 540px) {
  .all-cards .four-card .card {
    width: 100%;
  }
}
.all-cards .four-card .card img {
  width: 100%;
}/*# sourceMappingURL=mirsoft.css.map */