* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav {
    max-width: 1600px;
    padding: 8px 28px;

    .top-nav {
        display: flex;

        .small-logo {
            display: none;

            @media (max-width:1200px) {

                width: 60px;
                height: auto;
                display: block;
                background-image: url(../img/ｌｏｇｏ.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        .functions {
            display: flex;
            margin-left: auto;

            .function {
                font-size: 14px;
                margin-left: 25px;
            }
            .hidden-1200{
                @media (max-width:1200px) {
                    display: none;
                }
                .function-ul{
                    list-style: none;
                    padding: 10px 20px 10px 10px;
                    border: #cfcece 1px solid;
                }
            }

            .icons {
                display: flex;
                justify-content: center;

                .icon {
                    margin-left: 25px;
                    font-size: 18px;
                }

                form {
                    .search-text{
                        width: 0px;
                        border: none;
                        border-bottom: 1.5px  solid #cfcece ;
                        transition: ease-in-out 0.3s width,border-bottom;

                    }
                    &:hover .search-text {
                        width: 100px;
                        
                  
                      }
                      #search{display: none;}
                    }
            }

            .bugar {
                display: none;
                @media (max-width:1200px) {
                    font-size: 20px;
                    display: block;
                    
                }
            }
        }
    }
}